body {
  padding: 50px;
  font:
    14px "Lucida Grande",
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.block {
  width: 100pt;
  height: 100pt;
  margin: 20pt;
  background-color: chocolate;
}
